
# Beads / Dolt files (added by bd init)
.dolt/
*.db
.beads-credential-key
./AMigaXenon/Saved/webcache_6613/Default/Network/Cookies
Saved/
Intermediate/

Binaries/
Intermediate/
DerivedDataCache/
Saved/
Build/
.vs/
*.sln
*.xcworkspace

# Copyrighted emulator assets — never commit these
*.rom
*.adf
*.ipf
*.hdf
Plugins/UnrealLibretro/MyCores/*.dll